//assets import
@import "../assets";

.top-message-wrapper {
  background: $navy;
  color: white;
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  column-gap: 50px;
  cursor: pointer;

  &:hover {
    background: lighten($navy, 10%);
  }

  $title-width: 200px;
  .title {
    font-size: 1.3em;
    width: $title-width;
    background: white;
    color: $navy;
    border-radius: 10px;
    white-space: nowrap;
  }

  .inner {
    display: inline-flex;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
    min-width: calc(100% - #{$title-width});
    position: relative;
  }

  .message {
    min-width: 100%;
    font-size: 2rem;
    animation: moveToLeft 2s infinite;
    text-decoration: underline 2px $vermilion;
    text-underline-offset: 10px;
  }
}

@keyframes moveToLeft {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

.seat-table-container {
  width: 1000px;
  display: flex;
  justify-content: center;
  margin: 50px auto;

  .column {
    width: 200px;
    cursor: pointer;
    &:not(:last-child) {
      margin-right: 50px;
    }

    li {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 95px;
      // font-weight: bold;
      font-size: 4rem;
      &:not(:last-child) {
        margin-bottom: 30px;
      }
      background: $emerald-green;
      &:not(.active):hover {
        background: darken($emerald-green, 30%);
      }

      &.active {
        background: $vermilion;
        color: white;
        cursor: not-allowed;
        font-weight: bold;
        font-size: 3rem;
      }
    }
  }

  &.unactive li {
    background: $gray;

    &:not(.active):hover {
      background: $gray;
    }
  }
}

.cancel-manipulation-btn {
  background: $vermilion;
  color: white;
  padding: 10px;

  &.unactive {
    display: none;
  }
}

.cancel-arrow {
  // font-size: 3rem;
}

.btn-wrapper {
  position: relative;
  .cancel-manipulation-btn {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-300%);
    padding: 5px 10px;
    border-radius: 100px;
  }
}
